/* Estilos generales para toda la página */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Todos los párrafos de la página */
p {
    color: #555;
}

/* Todos los párrafos contenidos en el elemento con id "primero" */
#primero p {
    color: #369;
}

/* Todos los enlaces de la página */
a {
    color: #C30;
}

/* Los elementos <em> contenidos en #primero */
#primero em {
    color: #0000BB;
    background-color: #FFFFCC;
}

/* Todos los elementos <em> con la clase "especial" en toda la página */
em.especial {
    color: #FFFF00;
    background-color: #000000;
}

/* Todos los elementos <span> contenidos en la clase "normal" */
.normal span {
    font-weight: bold;
}

/* Uniformar letra, color y tamaño de h1, h2, h3, h4 */
h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 24px;
}

/* Especificación para la sección #primero */
#primero {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Especificación para el elemento <em> dentro de #primero */
#primero em {
    font-style: italic;
    background-color: yellow;
}

/* Especificación para la sección #segundo */
#segundo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Estilo para el elemento <em> dentro de #segundo */
#segundo em {
    font-style: italic;
    color: #dbd7a6;
    background-color: rgb(3, 3, 3);
}
